* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-image: url(../assets/mountains-universe-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

header {
    height: 122px;
    padding-inline: 72px;
    display: flex;
    align-items: center;
    gap: 46px;

    ul {
        display: flex;
        gap: 46px;
        list-style: none;

        a {
            font-size: 22px;
            color: #C4C4CC;
            text-decoration: none;
        }

        .ativa {
            color: #FFF;
            font-weight: 700;
        }
    }
}
